.container {
  background-color: var(--main-color);
  color: white;
}


.footer-container {
  padding-bottom: 20px;
  padding-top: 20px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin: 1em 0;
}

