.header-container {
  height: 50px;
  background-color: var(--main-color);
}

.container {
  height: 100%;
}

.logo {
  height: 80%;
  margin: 5px 0;
  cursor: pointer;
  outline: none;
  float: left;
}

button {
  float: right;
  background-color: var(--main-color);
  border-style: none;
  height: 100%;
  width: 100px;
  color: white;
  outline: none;
}

button:hover, .search-box>img:hover{
  cursor: pointer;
  background-color: #0e0c99;
}

.search-box {
  float: left;
  margin-left: 260px;
}


.search-box>img, .search-box input{
  height: 20px;
  display: block;
  float: left;
}

.search-box img {
  padding: 15px;
  cursor: pointer;
}

.search-box input {
  margin: 12px;
}
