<div class="container">
  <div class="filter-buttons">
    <button type="button" class="filter-button" [ngClass]="{'chosen-filter': isChosenFilter('latest')}"
      routerLink="/themes/latest/1">
      Latest
    </button>
    <button type="button" class="filter-button" [ngClass]="{'chosen-filter': isChosenFilter('popular')}"
      routerLink="/themes/popular/1">
      Popular
    </button>
  </div>
  <div class="theme-list" *ngIf="!loading else loadingBlock">
    <div class="theme" *ngFor="let theme of themes">
      <div class="theme-info">
       <ul>
         <li>Author: {{theme.authorUsername}}</li>
         <li>Messages: {{theme.messageCount}}</li>
         <li>Created: {{theme.dateTime | date :'medium'}}</li>
       </ul>
      </div>
      <div class="theme-body">
        <h3 class="theme-title" routerLink="/theme/{{theme.id}}/1">{{theme.title}}</h3>
        <div class="theme-hashtags">
          <div class="theme-hashtag" *ngFor="let hashtag of theme.hashtags" (click)="searchByHashtag(hashtag)">
            {{hashtag}}
          </div>
        </div>
        <div class="text">
          {{theme.text}}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <ng-template #loadingBlock >
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </ng-template>
</div>
