.container {
  margin: 30px 0;
}

.filter-button {
  margin-right: 30px;
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 7px;
  outline: none;
  border-radius: 0.75em;

}

.filter-button:hover {
  cursor: pointer;
  background-color: #0e0c99;
}


.chosen-filter {
  border: 2px solid black;
}



.lds-ring {
  width: 100%;
  text-align: center;
  margin: 20px 48%;

}


.theme {
  background-color: white;
  margin-top: 20px;
  border: 2px solid #0e0c99;
  padding: 20px;
  position: relative;
}


.theme-info {
  float: left;
  width: 25%;
}

.theme-info ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.theme-info li {
  margin-bottom: 1em;
}

.theme-title {
  margin: 0;
  cursor: pointer;
}


.theme-body {
  width: 75%;
  float: left;
}

.text {
  margin-top: 20px;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.theme-hashtag {
  margin: 20px 20px 20px 0;
  float: left;
  padding: 5px;
  border-radius: 1em;
  background-color: #c9f5ff;
  text-align: center;
  cursor: pointer;
}



.pages {
  width: 250px;
  margin: 30px auto;
}

.pages>div {
  float:left;
  padding: 10px;
  border: 1px solid black;
  margin-left: 20px;
}

.page-control {
  background-color: white;
  cursor: pointer;
}

.page-control:hover {
  background-color: lightgray;
}

.page {
  background-color: var(--main-color);
  color: white;
}

.appoint-moders-button {
  float: right;
}

.appoint-moders-button button {
  color: white;
  background-color: var(--main-color);
  border-style: none;
  padding: 10px;
  cursor: pointer;
  float: right;
  border-radius: 2px;
  margin: 20px 20px 20px 0;
}

